<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2>DD URL Shortener</h2>
  </div>
</header>

<div class="body container">
  <div class="row">
    <div class="col-sm-6 created">
      <label class="control-label">Created</label>
      <div class="row">
        <table>
          <tr data-ng-repeat="item in createdList">
            <td style="min-width:100px">
              {{item._id.year}}-{{item._id.month}}-{{item._id.dayOfMonth}}
            </td>
            <td>{{item.count | number}} urls</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-6 browsers">
      <label class="control-label">Browsers</label>
    </div>
  </div>
</div>

<div class="body container">
  <div class="row">
    <div class="col-sm-6 contries">
      <label class="control-label">Contries</label>
    </div>
    <div class="col-sm-6 platforms">
      <label class="control-label">Platforms</label>
    </div>
  </div>
</div>

<div class="body container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <label class="control-label">RAW</label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div  data-ng-repeat="data in history">
      <pre>{{data}}</pre>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>by <a href="https://github.com/harryoh" target="_blank">harryoh</a></p>
  </div>
</footer>
